body{
  background-color: blanchedalmond;
}

.margin-top{
  margin-top: 20px;
}

.border-bottom{
  border-bottom: solid 2px black;
}

#budget-input,
#set-budget-btn{
  display: inline;
}

#budget-input{
  width: 60%;
}

.border-around{
  border: solid 2px black;
  height: 80vh;
}